$c-black: #271C02;
$c-red: #6F1200;

$f-r: 'Raleway';
$f-rm: 'Raleway Medium';
$f-rmi: 'Raleway Medium Italic';
$f-ri: 'Raleway Italic';
$f-rb: 'Raleway Bold';
$f-pdr: 'Playfair Display Regular';
$f-pdb: 'Playfair Display Bold';
$f-rbi: 'Raleway Bold Italic';